<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal</title>
</head>
<body>
    <form action="#" th:object="${messageForm}" th:action="@{'/animal'}" method="POST">
        <label for="animalText">Enter an Animal: </label>
        <input type="text" th:field="*{animalName}" id="animalText" name="animalText">
        <label for="adjective">Enter an Adjective:</label>
        <input type="text" th:field="*{adjective}" id="adjective" name="adjective">
        <input type="submit">
    </form>
    <h1 th:unless="${#lists.size(greetings) > 5}" th:each="msg : ${greetings}" th:text="${msg}">Hello, homepage!</h1>
    <h1 th:if="${#lists.size(greetings) > 5}">I think that's enough!</h1>
</body>
</html>