<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>

    <form action="#" th:action="@{/chat}" th:object="${chatForm}" method="POST">
        <label for="username">Username:</label>
        <input id="username" th:field="*{username}" type="text">

        <label for="messageText">Message Text:</label>
        <input id="messageText" th:field="*{text}" type="text">

        <label for="messageType">Message Type: </label>
        <select id="messageType" th:field="*{messageType}">
            <option
                th:each="type: ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
            >
                Say
            </option>
        </select>
        <input type="submit">
    </form>

    <div th:each="chatMsg : ${chatMessages}">
        <span th:text="${chatMsg.username}">Username</span>: <span th:text="${chatMsg.message}">Hello!</span>
    </div>

</body>
</html>